services:
  - type: web
    name: avanii-shop
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: avanii-db
          property: connectionString
    autoDeploy: true

databases:
  - name: avanii-db
    databaseName: avanii_production
    user: avanii_user
